/* новые анимации, потому что эти кринж свг 
не могли начать работать просто так :( */

@keyframes icon-scaling {
   0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
 
@keyframes sparks-coloring {
   100% {
     fill: var(--sparks-fill-clr);
   }
 }