@supports not ((-webkit-text-stroke: 1px) or (text-stroke: 1px)) {
  .card__label {
    -webkit-text-stroke: none;
    text-stroke: none;
    text-shadow: 1px 1px 0px white,
                 -1px -1px 0px white,
                  1px -1px 0px white,
                  -1px 1px 0px white;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: var(--main-font-size);
  background-image: var(--gradient-background);
  background-size: 1440px 960px; 
  background-repeat: no-repeat;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--wgt-text);
  
}


/* 
.card__label,
.card__like-button,
.button__text,
.header__title {
  font-family: var(--accent-font);
  font-variation-settings: normal; 
} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header {
  display: flex;
  width: var(--block-width);
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid black;
  flex-direction: column;
  gap: 20px;
  padding: 127px 122.5px;
  
}

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.header__text {
  text-transform: uppercase;
  font-size: var(--dinamic-font-text);
  font-family: var(--accent-font);
  
}

.header__title {
  font-size: var(--dinamic-font-title);
  
}

/* карточные свойства начало */
.card__wrap {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 2px solid black;
  background-color: #ffffff;
  position: relative;
}

.image__wrap {
  position: relative;
  height: 100%;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-variation-settings: 'wght' var(--wgt-text);
  -webkit-text-stroke: 1px black;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: var(--button-font-size);
}

.card__title {
  font-variation-settings: 'wght' var(--wgt-accent);
  font-size: var(--main-font-size);
  padding: 4px 10px;
}

.card__desc {
  margin: 25px;
  margin-bottom: 0;
  display: flex;
  gap: 26px;
  flex-direction: column;
}

.card__wrap .card__like-button {
  align-self: flex-end;
}


.like-icon img {
  transition: content 150ms ease;
}

.is-liked img{
  content: url('../svg/heart-hold-final.svg');
}

.like-icon:hover img {
  animation: heartHoverAnimation  0.5s steps(1) forwards;
}


.like-icon:active img {
  animation: heartHoldAnimation 1s steps(6) forwards;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  display: flex;
  width: 27px;
  height: 24px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.buttons__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.card__like-button {
  padding: 10px 35px;
  width: 130px;
  height: 38px;
  margin: 25px 25px 25px 0px;
  border: 2px solid black;
}

.disket__button {
  border: none;
}

.card__like-button, .card__disket-button {
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  background-color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-wrap .card__disket-button {width: 293px;padding: 12.5px 0;align-self: center;}

.card__disket-button::before, .card__like-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%); 
  transition: transform 0.5s ease-in-out; 
}

.card__disket-button:hover::before, .card__like-button:hover::before {
  transform: translateX(0); 
}

.button__text {
  color: white; 
  mix-blend-mode: difference; 
  position: relative; 
  z-index: 1; 
}

.card__disket-button:focus, .card__like-button:focus {
  outline: transparent;
  background-color: #ffffff;
  color: black;
  box-shadow: 2px 2px 0px black;
}

.button__save {
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  border: none;
  position: relative;
}

.bottom__button-wrap {
  display: flex;
  background-color: #ffffff;
  border: 2px solid black;
  padding: 13px 10px;
}

.card__button {
  border: none;
  background: transparent;
}

.bottom__button-wrap .card__icon-button {
  margin-right: 0;
  margin-left: 7px;
}

.button__pic {
  height: 21px;
}

.card__pic {
  height: 28px;
  width: 21px;
  position: absolute;
  bottom: 32px;
  align-self: self-end;
  right: 170px;
}

/* конеч кнопка про дискеты */

.dialog-wrap {
  display: none;
}

.dialog-wrap::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-wrap {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 20px 20px 0 20px;
  max-width: 295px;
  align-items: center;
  gap: 20px;
}

.dialog-wrap[open] {
  display: flex;
  padding: 0;
  gap: 30px;
  flex-direction: column;
  padding: 30px;
}

.disket-wrap .button__text {text-transform: uppercase;font-family: var(--accent-font);font-size: var(--button-font-size);line-height: 150%;}

.disket-wrap .button__pic {
  width: 39px;
  height: 39px;
}
.disket-wrap .card__icon-button {
  width: 39px;
  height: 39px;
}

/* рамерные изменения  */

@media (max-width: 1440px) {
  .card__image {
    height: 696px;
  }
}
@media (max-width: 300px) {
  .header {
    padding: 121px 16px;
  }

  .header__text {
    font-size: 14px;
  }

  .header__title {
    font-size: 49px;
  }

  .card__image {
    height: 371px;
  }

  .bottom__button-wrap {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .bottom__button-wrap .card__icon-button {
    margin: 0;
    padding-top: 3px;
  }

  .button__pic {
    height: 28px;
  }

  .modal-content {
    width: 90%;
  }

  .dialog-wrap[open] .modal-content {
    grid-template-columns: auto;
  }

  .dialog-wrap .card__disket-button {
    width: 261px;
  }
  
}
